@using Microsoft.Data.SqlClient;
@using System.Configuration;
@using System.Data;
@using Blazorise.Icons.FontAwesome;
@using DigitalAssistant.Server.Modules.Telemetry.Enums;

@typeparam T

<style>
    .base-list-table-cell-name {
        white-space: pre !important;
    }
</style>

<Heading Margin="Margin.Is2.FromTop">
    @Localizer[Title]
</Heading>
<hr class="mt-0" style="background-color:var(--table-border-color)">

@if (ShowDateFilters)
{
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label class="col-form-label text-truncate">
                    @Localizer["Date Filter"]
                </label>

                <SelectList Data="@DateFilterTypes" TItem="KeyValuePair<TelemetryDateFilterType?, string>" TValue="TelemetryDateFilterType?" TextField="(item) => item.Value" ValueField="(item) => item.Key" SelectedValue="SelectedDateFilterType" SelectedValueChanged="(x) => OnSelectedDateFilterTypeChangedAsync(x)" />

            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label class="col-form-label text-truncate">
                    @Localizer["Start Date Filter"]
                </label>
                <BaseDateInput Value="StartDate" InputDelay="500" OnInput="async (args) => await OnTimeFilterChangedAsync((DateTime?)args.Value, EndDate)" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label class="col-form-label text-truncate">
                    @Localizer["End Date Filter"]
                </label>
                <BaseDateInput Value="EndDate" InputDelay="500" OnInput="async (args) => await OnTimeFilterChangedAsync(StartDate, (DateTime?)args.Value)" />
            </div>
        </div>
    </div>
}

<BaseMemoryList TModel="T"
                Models="TelemetryEntries"
                UserCanDeleteEntries="false"
                HideTitle="true" />