<div class="enable-connector-setup">

    @if (CheckConnector)
    {
        <div class="modal-body">
            <p>
                @Localizer["CheckConnectorAvailability"]
            </p>

            <div class="text-center">
                <LoadingIndicator Visible="true" />
            </div>
        </div>
    }
    else
    {
        <div class="modal-body">
            <p>
                @if (ConnectorIsAvailable)
                {
                    @Localizer["ConnectorAvailableMessage"]
                }
                else
                {
                    @Localizer["ConnectorNotAvailableMessage"]
                }
            </p>

            @if (!String.IsNullOrEmpty(ErrorMessage))
            {
                <p class="text-danger">
                    @Localizer["BridgeConnectingError"]
                    @ErrorMessage
                </p>
            }
        </div>

        <div class="modal-footer">

            <button type="button" class="btn btn-secondary" @onclick="() => CloseSetup(false, null)">
                @Localizer["Close"]
            </button>

            @if (ConnectorIsAvailable)
            {
                <button type="button" class="btn btn-primary" @onclick="EnableConnectorAsync">
                    @Localizer["Continue"]
                </button>
            }
        </div>
    }

</div>